{% set cover_image = "images/hero/home-hero.jpg" %}

<div class="w-full bg-cover bg-no-repeat bg-center" style="height:36rem; background-image: url({{- cover_image -}})">
    <div class="flex items-end justify-center h-full w-full bg-gray-900 bg-opacity-40">
        <div class="text-center mb-20 sm:bg-gray-900 bg-opacity-75 rounded-md sm:p-4">
            <h1 class="text-pink-500 hidden sm:block text-2xl font-semibold uppercase md:text-3xl">
                Experience the outfit <span class="underline text-blue-400">Like never before</span>
            </h1>
            <a href="#all-items">
                <button class="m-2 px-2 sm:m-4 sm:px-4 py-2 bg-blue-700 text-white text-sm uppercase font-medium rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-500 text-md">Explore all products</button>
            </a>
            <a href="#picked-items">
                <button class="m-2 px-2 sm:m-4 sm:px-4 py-2 bg-pink-700 text-white text-sm uppercase font-medium rounded hover:bg-pink-600 focus:outline-none focus:bg-pink-500 text-md">Explore picked products</button>
            </a>
        </div>
    </div>
</div>
