{% set cover_image = "images/hero/shop-hero.jpg" %}

<section class="bg-cover bg-no-repeat bg-bottom" style="background-image: url({{- cover_image -}})">
	<div class="container text-white mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl">
        <h1 class="text-4xl font-bold leading-none sm:text-5xl">
            Be ready to shine with<br />
            <span class="text-pink-700 bg-white px-4 mt-2 block uppercase">Handmade outfit</span>
	</h1>
        <p class="px-8 my-6 text-lg">Bringing you fashion, comfort and style.<br />Now just one call away.</p>
        <a href="/shop">
            <button class="border-2 border-purple-700 px-8 py-3 m-2 text-lg font-semibold rounded transition duration-600 transition-background hover:bg-purple-700"># Explore Collections<i class="fas pl-2 fa-arrow-right"></i></button>
        </a>
    </div>
</section>
